.DS_Store
*.DS_Store
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
build/
dist/
.env
*.sqlite3
archive
archive/
faces/
faces-aligned/
input-coloring/
landmarks/
mask-detection/
models/
outline/
output-vectors/
overlaid/
overlaid-aligned/
training-data/
